
* {
    box-sizing: border-box;
}


/* HEADER & NAV */
nav {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    min-height: 40px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    justify-self: end;
    font-size: 20px;
  }
  
  .nav-links li {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    background-color: green;
    padding: 10px 20px;
    border-radius: 20px 20px 20px 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  nav a:hover {
    color: #b2b2b2;
  }
  
  .logo-contrainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width:40%
  }
  
  #name {
    color: #30336b;
    text-transform: uppercase;
    padding-left: 20px;
    justify-self: start;
    margin-top: 8%;
  }
  
  #logo{
    margin-left: 20%;
    width: 100px;
    height: 100px;
  }

  

/* BODY */
body {
    color: #777;
    background-color: rgb(209, 224, 204);
    font-family: 'Open Sans', Arial, sans-serif;
}

.body-content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: white;
}

.categories {
    border-right: 0.3px solid rgb(189, 189, 189);
}

.items {
    margin-left: 30px;
}

.product-grid {
    width: 60em;
    margin: 2rem auto;
}
.product-grid.product-grid--flexbox .product-grid__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.product-grid.product-grid--flexbox .product-grid__title {
    height: auto;
}
.product-grid.product-grid--flexbox .product-grid__title:after {
    display: none;
}
.product-grid__wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
}
.product-grid__product-wrapper {
    padding: 1rem;
    float: left;
    width: 33.33333%;
}
.product-grid__product {
    padding: 1rem;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
}
.product-grid__product:hover {
    box-shadow: 0px 0px 0px 1px #eee;
    z-index: 50;
}
.product-grid__product:hover .product-grid__extend {
    display: block;
}
.product-grid__img-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 150px;
}
.product-grid__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.product-grid__title {
    margin-top: 0.875rem;
    display: block;
    font-size: 1.125em;
    color: #222;
    height: 3em;
    overflow: hidden;
    position: relative;
}
.product-grid__title:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2.4em;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
.product-grid__price {
    color: #e91e63;
    font-weight: bold;
    letter-spacing: 0.4px;
}
.product-grid__extend-wrapper {
    position: relative;
}
.product-grid__extend {
    display: none;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    margin: 0.4375rem -1rem 0;
    box-shadow: 0px 0px 0px 1px #eee;
    background: #fff;
    border-radius: 0 0 4px 4px;
}
.product-grid__extend:before {
    content: "";
    height: 0.875rem;
    width: 100%;
    position: absolute;
    top: -0.4375rem;
    left: 0;
    background: #fff;
}
.product-grid__description {
    font-size: 0.875em;
    margin-top: 0.4375rem;
    margin-bottom: 0;
}
.product-grid__btn {
    display: inline-block;
    font-size: 0.875em;
    color: #777;
    background: #eee;
    padding: 0.5em 0.625em;
    margin-top: 0.875rem;
    margin-right: 0.625rem;
    cursor: pointer;
    border-radius: 4px;
}
.product-grid__btn i.fa {
    margin-right: 0.3125rem;
}
.product-grid__add-to-cart {
    color: #fff;
    background: #e91e63;
}
.product-grid__add-to-cart:hover {
    background: #ee4c83;
}
.product-grid__view {
    color: #777;
    background: #eee;
}
.product-grid__view:hover {
    background: #fff;
}


body {
    font-family:'Arial';
    color:#646464;
  }		
  .continents-wrap {
    float:left;
    width:20%;
    margin:0 5% 0 0;
    padding:0;
  }		





.subscription {
    width: 70%;
    margin:auto;
  }
  
  #email-input {
    padding-top: 8px;
  }
  
  #email-input p {
    padding-bottom: 4px;
  }
  
  .submit-button {
    background-color: #000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .input-box {
    padding: 16px;
    border: 0.3px solid black;
    margin-right: 15px;
    color:rgb(167, 167, 167)
  }
  
  @media screen and (max-width: 700px) {
    body {
      overflow-x: hidden;
    }
    
    .submit-button {
      margin-top: 10px;
    }
  }