

  a{
    color: #22697F;
  }
  
  a:hover{
    color: #2D91A8;
  }
  
  .main, .content{
    float: left;
    background: #fff;
  }
  
  .breadCrumbs{
    float: left;
    padding: 5px 0 5px 10px;
    letter-spacing: 1px;
    line-height: 2em;
    color: #fff;
  }
  
  .breadCrumbs>a{
    text-decoration: none; 
    color: #fff;
  }
  
  .breadCrumbs>a:hover{
    text-decoration: underline;
  }
  
  .nav
  {
  background: #ECF3F6;
  padding: 10px;
  margin-bottom: 10px;
  }
  
  .nav h1
  {
  display: inline-block;
  float: left;
  }
  
  .sidebar
  {
  float:left;
  min-width: 160px;
  max-width: 198px;
  margin-right: 20px;
  background: #fff;
  }
  
  .sidebar.slim{
    max-width: 140px;
  }
  
  .content
  {
  overflow: hidden;
  background: #fff;
  }
  
  .content p
  {
  padding: 0 0 0 10px;
  }
  
  .bottom
  {
  width: 100%;
  height: 2.5em;
  border-top: 1px solid #B6B6AB;
  background: #EAEAEA;
  }
  
  .bd
  {
  border: 1px solid #B6B6AB;
  border-radius: 4px;
  }
  
  .clearFix:after
  {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  }
  
  .productStage, .productImage, .overview
  {
    float: left;
  }
  
  .overview h1, .overview h2, .overview h3
  {
    padding: 0;
    margin: 0 0 10px 0;
  }
  
  .productStage
  {
    background: #fff;
    width: 700px;
    margin-right: 20px;
  }
  
  .productImage
  {
    width: 350px;
    text-align: center;
    margin-bottom: 20px;
  }
  
    .product-info {
        padding-top: 50px;
        display: flex;
        background-color: white;
    }
    
    .item-image-parent {
        order: 1;
        width: 50%;
        display: flex;
    }
    
    .item-info-parent {
        order: 2;
        width: 50%;
    }
    
    .item-list-vertical {
        order: 1;
        width: 10%;
        overflow-y: auto;
        margin-top: 50px;
    }
    
    #img-zoom-container {
        order: 2;
        width: 80%;
        height: 100%;
    }

    /* sectioning completed */
    
    
    .thumb-box {
        width: 50px;
        height: 50px;
        margin: 10px auto;
        background: white;
        border: 1px solid rgb(190, 190, 190);
    }
    .thumb-box img {
        width: 100%;
        height: 100%;
    }
    

    #img-zoom-container {
        width: 600px;
        height: 600px;
    }

    #img-zoom-container img {
        width: 100%;
        height: auto;
    }


    
    .thumb-box:hover {
        cursor: pointer;
        border-color: #e77600;;
        box-shadow: 0px 1px 5px 1px #e77600;
    }
    
    /* Item Info */
    .price-rating {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-info h4{
        font-size: 21px;
        margin-bottom: 0;
        font-weight: 400;
    }
    
    .star-rating {
        width: 50%;
        color: rgb(173, 171, 171);
        font-size: 24px;
    }
    
    .star-rating span {
        color: gold;
    }
    
    .main-info p {
        font-size: 15px;
        color: gray;
        margin-bottom: 30px;
    }
    
    #price {
        color: rgb(245, 141, 92);
        font-size: 21px;
        font-weight: bold;
        margin-left: 10%;
    }
    

    .item-info-parent {
      font-family: 'Raleway', sans-serif;
      color: #2E5C2D;
    }


    /* Select Items */
    .change-color{
        width: 40px;
        display: inline-block;
    }

    
    .description {
        padding-left: 17px;
        font-size: 15px;
        line-height: 1.3rem;
        background-color:#F7FAF5;
        margin-right: 30px;
        padding: 6px;
        border-radius: 25px;
        color: #2E5C2D;
    }
    
.quantity input{
  width: 50px;
  border: 0.1em solid rgb(170, 166, 166);
  border-radius: 15px;
}

/* horizontal list */
.change-color ul#menu {
  margin-right: 16.5%;
  margin-top: -1.1%;
}

.change-size ul#menu {
  margin-right: 27%;
  margin-top: -1.1%;
}


ul#menu li {
    background-color: #E0EFD6;
    padding: 1px 8px; 
    border-radius: 12px;
    margin: 5px;
    font-size: 15px;
}

ul#menu li:hover{
  background-color: #f7bf26;
  padding: 1px 8px; 
  border-radius: 12px;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
}

/* Reviews */
.reviews {
    display: grid;
    grid-template-columns: 1fr 12fr;
}

.add-to-cart {
  border: none;
  background-color: #E0EFD6;
  padding: 10px;
  font-family: 'Raleway';
  font-weight: bold;
  color: #2E5C2D;
  border-radius: 25px;
}

.add-to-cart:hover {
  background-color: rgb(243, 186, 112);
  cursor: pointer;
}

.check-cart {
  color: rgb(110, 110, 110);
  font-weight: bold;
}

.check-cart:hover {
  cursor: pointer;
  color: rgb(243, 158, 46);
  font-weight: bold;
}